<mat-card class="mat-card-developer">
    <mat-card-content class="developer-content">
        <div class="image-div">
            <img mat-card-image [src]="developer.imgUrl || developerImageUrl" alt="Developer image">
        </div>
    </mat-card-content>
    <mat-card-title-group class="developer-info-card">
        <mat-card-title>{{developer.name}}</mat-card-title>
        <mat-card-subtitle>Location: {{developer.location!.name}}</mat-card-subtitle>
        <mat-card-subtitle>Technology: {{developer.technology!.name}}</mat-card-subtitle>
        <mat-card-subtitle>Price per hour: {{developer.pricePerHour}}$</mat-card-subtitle>
        <mat-card-actions>
            <a mat-button>View profile</a>
        </mat-card-actions>
    </mat-card-title-group>
</mat-card>