<div id="developer-form">
    <mat-card class="developer-form-card">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" *ngIf="formGroup">
            <mat-card-header>
                <mat-card-title>{{ developerId ? 'Edit' : 'Add'}} Developer</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="fields-content">
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Name</mat-label>
                            <input matInput placeholder="John Doe" formControlName="name">
                            <mat-error>This field is requred!</mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="name@example.com" formControlName="email">
                            <mat-error>Invalid email</mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Phone Number</mat-label>
                            <input matInput placeholder="+ 999 999 999" formControlName="phoneNumber">
                            <mat-error>Must contain a '+' and at least 9 digits</mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Location</mat-label>
                            <mat-select formControlName="locationId">
                                <mat-option *ngFor="let location of locations" [value]="location.id">
                                    {{location.name}}
                                </mat-option>
                            </mat-select>
                            <mat-error>This field is required!</mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Technology</mat-label>
                            <mat-select formControlName="technologyId">
                                <mat-option *ngFor="let technology of technologies" [value]="technology.id">
                                    {{technology.name}}
                                </mat-option>
                            </mat-select>
                            <mat-error>This field is required!</mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Price Per Hour in $</mat-label>
                            <input matInput placeholder="00" formControlName="pricePerHour">
                            <mat-error>Invalid input</mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Years of experience</mat-label>
                            <input matInput placeholder="00" formControlName="experience">
                            <mat-error>Invalid input</mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Language</mat-label>
                            <mat-select formControlName="language">
                                <mat-option *ngFor="let language of languages" [value]="language">
                                    {{language}}
                                </mat-option>
                            </mat-select>
                            <mat-error>This field is required!</mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Description</mat-label>
                            <input matInput formControlName="description">
                            <mat-error>Not enough symbols, minimum 20</mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Image</mat-label>
                            <input matInput placeholder="https://....." formControlName="imgUrl">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>LinkedIn Profile</mat-label>
                            <input matInput placeholder="https://www.linkedin.com/in/...." formControlName="linkedIn">
                            <mat-error>Link is not correct!</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="submit-btn">
                    <button mat-raised-button color="primary" type="submit">Save</button>
                </div>
            </mat-card-content>
        </form>
    </mat-card>
</div>