<mat-toolbar color="primary">
    <!-- User => Menu -->
    <!-- <div>
        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <ng-template matMenuContent>
                <button mat-menu-item>Locations</button>
                <button mat-menu-item>Technologies</button>
                <button mat-menu-item>Developers</button>
                <button mat-menu-item>Hired</button>
                <button mat-menu-item>About us</button>
                <button mat-menu-item>Contacts</button>
            </ng-template>
        </mat-menu>
    </div> -->
    <!-- <span class="example-spacer"></span> -->

    <!-- Heading -->
    <div class="heading">
        <button class="button" mat-button>
            <a matLine routerLink="home">DevHunter</a>
        </button>
    </div>
    <span class="example-spacer"></span>

    <mat-nav-list>

        <!-- Guest -->
        <button class="button" mat-button routerLink="auth/login">
            <a matLine>Login</a>
        </button>
        <button class="button" mat-button routerLink="auth/register">
            <a matLine>Register</a>
        </button>

        <!-- User -->
        <!-- <button class="button" mat-button>
            <a matLine>Logout</a>
        </button>
        <button class="button" mat-button>
            <mat-icon>supervisor_account</mat-icon>
        </button> -->
    </mat-nav-list>
</mat-toolbar>