.example-spacer {
    flex: 1 1 auto;
}

.mat-list-base {
    padding: 0;
}

mat-nav-list {
    text-align: right;
}

mat-toolbar>* {
    width: 20vw;
}

.heading {
    text-align: center;
}

.button {
    font-size: 20px;
}

.mat-menu-item {
    padding: 0 6vw 0 2vw;
    font-size: 18px;
    color: #673ab7;
}

.mat-menu-item:hover {
    background: rgba(103, 58, 183, 1);
}

.mat-menu-item:hover {
    color: #fff;
}

a:-webkit-any-link {
    color: rgba(103, 58, 183);
    text-decoration: none;
}