<mat-toolbar color="primary">
    <!-- User => Menu -->
    <div *ngIf="loggedUser">
        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <ng-template matMenuContent>
                <a mat-menu-item routerLink="locations">Locations</a>
                <a mat-menu-item routerLink="technologies">Technologies</a>
                <a mat-menu-item routerLink="developers">Developers</a>
                <a mat-menu-item routerLink="hired">Hired</a>
            </ng-template>
        </mat-menu>
    </div>
    <span *ngIf="loggedUser" class="example-spacer"></span>

    <!-- Heading -->
    <div class="heading">
        <a matLine mat-button routerLink="home">DevHunter</a>
    </div>
    <span class="example-spacer"></span>

    <mat-nav-list>

        <!-- Guest -->
        <div *ngIf="!loggedUser">
            <a matLine mat-button routerLink="auth/login">Login</a>
            <a matLine mat-button routerLink="auth/register">Register</a>
        </div>

        <!-- User -->
        <div *ngIf="loggedUser">
            <button mat-button matLine (click)="onLogout()">
                Logout
            </button>
            <a mat-button routerLink="hiring">
                <mat-icon>supervisor_account</mat-icon>
            </a>
        </div>
    </mat-nav-list>
</mat-toolbar>