<mat-toolbar color="primary">
    <mat-grid-list cols="1">
        <button mat-icon-button class="example-icon">
            <i class="fa-brands fa-facebook-f"></i>
        </button>
        <button mat-icon-button class="example-icon">
            <i class="fa-brands fa-instagram"></i>
        </button>
        <button mat-icon-button class="example-icon">
            <i class="fa-brands fa-twitter"></i>
        </button>
        <button mat-icon-button class="example-icon">
            <i class="fa-brands fa-google-plus-g"></i>
        </button>
        <button mat-icon-button class="example-icon">
            <i class="fa-brands fa-linkedin-in"></i>
        </button>
        <mat-divider></mat-divider>
        <div>&copy; 2022 Hristina Hristova</div>
    </mat-grid-list>
</mat-toolbar>
