<div id="locations">
    <div id="locations-heading">
        <h1>Locations</h1>
        <button mat-button routerLink="create">Add Location</button>
    </div>
    <div class="spinner" *ngIf="loading">
        <mat-spinner></mat-spinner>
    </div>
    <div class="empty" *ngIf="locations && locations.length === 0">There is no listed locations!</div>
    <mat-grid-list cols="9" [gutterSize]="'3vw'" rowHeight="1:4">
        <mat-grid-tile colspan="3" *ngFor="let location of locations">
            <app-location-card [location]="location" (onDeleteEvent)="onDelete($event)" (onEditEvent)="onEdit($event)">
            </app-location-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>