mat-grid-list{
    /* top: 40%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
   /* overflow: auto; */
   background-color: #e8e8ff;
   color: #673ab7;
   text-align: center;
   align-items: center;
   /* position: relative; */
}

mat-grid-tile{
   /* height: fit-content; */
   /* width: fit-content; */
}

h1{
   font-weight: 700;
   font-size: 40px;
   line-height: 1.6;
}

mat-icon{
   /* text-align: center; */
   height: 35px;
   width: 35px;
   font-size: 35px;
   /* line-height: 35px; */
}

.mat-icon-button .mat-icon {
   line-height: 35px;
}
