<mat-card class="mat-card-location">
    <mat-card-content>
        <div *ngIf="location.imgUrl !== '';else location_image">
            <img mat-card-image class="hover-image" [src]="location.imgUrl" alt="Location image">
        </div>
        <ng-template #location_image>
            <img mat-card-image [src]="locationImageUrl" alt="Location image">
        </ng-template>
        <div class="text-on-hover" *ngIf="location.mapLink">
            <mat-icon>room</mat-icon>
            <a [href]="location.mapLink">Open in Maps</a>
        </div>
    </mat-card-content>
        <mat-card-header>
            <mat-card-title>{{location.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
            <button mat-button (click)="onClickEdit()">Edit</button>
            <button mat-button (click)="onClickDelete()">Delete</button>
        </mat-card-actions>
</mat-card>