.mat-card-location {
    padding: 0 0 2vw 0;
    background-color: rgba(103, 58, 183, 0.2);
    border: solid 8px rgba(103, 58, 183);
}

mat-card-header {
    justify-content: center;
    color: rgba(103, 58, 183);
}

mat-card-actions {
    display: flex;
    justify-content: space-between;
    padding: 1vw 2vw;
}

mat-card-actions button {
    width: 40%;
    background-color: rgba(103, 58, 183);
    color: #fff;
}

.text-on-hover {
    display: none;
    position: absolute;
    text-align: center;
    top: 35%;
    left: 0;
    width: 100%;
    color: rgba(103, 58, 183);
}

a {
    font-size: 25px;
    font-weight: 700;
}

.mat-icon {
    width: 100%;
    height: 100%;
    font-size: 40px;
}

mat-card-content:hover .hover-image {
    opacity: 0.3;
}

mat-card-content:hover .text-on-hover {
    display: block;
}

a:-webkit-any-link:active {
    color: rgba(103, 58, 183);
}

a:-webkit-any-link {
    color: rgba(103, 58, 183);
    text-decoration: none;
}

.mat-card-image {
    margin: 0;
    width: 100%;
    height: 100%;
}

.mat-card-image:first-child {
    margin-top: 0;
}