<mat-toolbar color="primary">
    <mat-grid-list cols="1">
        <button mat-icon-button class="example-icon">
            <fa-icon [icon]="faFacebookF"></fa-icon>
        </button>
        <button mat-icon-button class="example-icon">
            <fa-icon [icon]="faInstagram"></fa-icon>
        </button>
        <button mat-icon-button class="example-icon">
            <fa-icon [icon]="faTwitter"></fa-icon>
        </button>
        <button mat-icon-button class="example-icon">
            <fa-icon [icon]="faGooglePlusG"></fa-icon>
        </button>
        <button mat-icon-button class="example-icon">
            <fa-icon [icon]="faLinkedinIn"></fa-icon>
        </button>
        <mat-divider></mat-divider>
        <div>&copy; 2022 Hristina Hristova</div>
    </mat-grid-list>
</mat-toolbar>
