<div id="hired">
    <div id="hired-heading">
        <h1>Hired Developers</h1>
    </div>
    <div class="spinner" *ngIf="loading; else developers_content">
        <mat-spinner></mat-spinner>
    </div>
    <ng-template #developers_content>
        <div class="empty" *ngIf="!hiredDevelopers || hiredDevelopers.length === 0; else listed_developers">
            There are no listed developers!
        </div>
        <ng-template #listed_developers>
            <mat-grid-list cols="6" [gutterSize]="'3vw'" rowHeight="1:2">
                <mat-grid-tile colspan="3" *ngFor="let developer of hiredDevelopers">
                    <app-hired-card [hiredDeveloper]="developer"  (deleted)="onDelete($event)">
                    </app-hired-card>
                </mat-grid-tile>
            </mat-grid-list>
        </ng-template>
    </ng-template>
</div>
