<div id="technologies">
    <div id="technologies-heading">
        <h1>Technologies</h1>
        <a mat-button routerLink="create">Add Technology</a>
    </div>
    <div class="spinner" *ngIf="loading; else technologies_content">
        <mat-spinner></mat-spinner>
    </div>
    <ng-template #technologies_content>
        <div class="empty" *ngIf="!technologies || technologies.length === 0; else listed_technologies">
            There are no listed technologies!
        </div>
        <ng-template #listed_technologies>
            <mat-list>
                <mat-list-item *ngFor="let technology of technologies">
                    <app-technology-card [technology]="technology" (deleted)="onDelete($event)"
                        (edited)="onEdit($event)">
                    </app-technology-card>
                </mat-list-item>
            </mat-list>
        </ng-template>
    </ng-template>
</div>