#developers-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vw;
}

h1 {
    color: rgba(103, 58, 183);
    font-size: 34px;
    font-weight: 700;
}

#developers-heading a {
    padding: 0.5vw 2vw;
    height: fit-content;
    background-color: rgba(103, 58, 183);
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    border: none;
}

app-developer-card {
    width: 100%;
    height: 100%;
}

.empty {
    text-align: center;
    color: rgba(103, 58, 183);
    font-size: 20px;
}

mat-spinner {
    margin: auto;
}