<div id="developers">
    <div id="developers-heading">
        <h1>Developers</h1>
        <a mat-button routerLink="create">Add Developer</a>
    </div>
    <div class="spinner" *ngIf="loading; else developers_content">
        <mat-spinner></mat-spinner>
    </div>
    <ng-template #developers_content>
        <div class="empty" *ngIf="!developers || developers.length === 0; else listed_developers">
            There are no listed developers!
        </div>
        <ng-template #listed_developers>
            <mat-grid-list cols="6" [gutterSize]="'3vw'" rowHeight="1:2">
                <mat-grid-tile colspan="3" *ngFor="let developer of developers">
                    <app-developer-card [developer]="developer">
                    </app-developer-card>
                </mat-grid-tile>
            </mat-grid-list>
        </ng-template>
    </ng-template>
</div>