#developers-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vw;
}

h1 {
    color: rgba(103, 58, 183);
    font-size: 34px;
    font-weight: 700;
}

#developers-heading a {
    padding: 0.5vw 2vw;
    height: fit-content;
    background-color: rgba(103, 58, 183);
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    border: none;
}

mat-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2vw;
}

.mat-list-item {
    width: 48%;
    height: 300px;
}

.empty {
    text-align: center;
    color: rgba(103, 58, 183);
    font-size: 20px;
}

mat-spinner {
    margin: auto;
}

mat-label {
    color: rgba(103, 58, 183);
}

input {
    padding-bottom: 0.3vw;
    font-size: 18px;
}

input::placeholder {
    color: rgba(103, 58, 183);
}

#search-devs {
    color: rgba(103, 58, 183);
}

mat-select {
    padding-bottom: 0.3vw;
    color: rgba(103, 58, 183);
    font-size: 18px;
}

mat-option {
    color: rgba(103, 58, 183);
}

.mat-option.mat-active {
    background-color: rgba(103, 58, 183);
    color: #fff;
}

.mat-option:hover:not(.mat-option-disabled),
.mat-option:focus:not(.mat-option-disabled) {
    background-color: rgba(103, 58, 183);
    color: #fff;
}

@media (max-width: 1200px) {
    .mat-list-item {
        height: 400px;
    }
}